/* Color palette in one of the text banners: 

BLUE #0B1F3B
ORANGE #FF6B00
GRAY (almost white ) #F2F4F7

 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FF6B00;
  color: #0B1F3B;
  font-size: 1.25rem;

  font-family: 'Barlow Condensed', sans-serif !important;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.0);
}

.orange-text {
  color: #FF6B00;
}

.orange-text-centered {
  color: #FF6B00;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* DESKTOP HEADER */
header {
  position: sticky;
  top: 0;
  background-color: #0B1F3B;
  z-index: 5000;
  border-bottom: 2px solid #FF6B00;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 8px 20px;
}

.logo_container {
  padding: 0;
}

.logo {
  height: 70px !important;
  width: auto;
  display: block;
}

.logo_text_container {
  text-align: left;
  color: white;
  margin-bottom: 0;
}

.logo_text_container h1 {
  font-size: 1.4rem;
  color: #FF6B00;
  margin-top: 0;
  margin-bottom: 0;
}

.logo_text_container h2 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.header-phone{
    width:64px;
    height:64px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#F2F4F7;
    color:white;
    text-decoration:none;
    font-size:2rem;
    border-radius:14px;
    transition:.25s ease;
    box-shadow:0 8px 18px rgba(0,0,0,.35);
    border: 2px solid #FF6B00;
}

.header-phone:hover{
    background:white;
    color:#0B1F3B;
    transform:translateY(-3px);
}

.phone-icon {
    color: #FF6B00;
    transform: translateX(2px);
    transform: translateY(-2px);
}

/* HERO */
.hero {
  text-align: center;
  position: relative;
  padding: 140px 20px;
  color: white;
  background:
    linear-gradient(90deg,
      rgba(11, 31, 59, 0.96) 0%,
      rgba(11, 31, 59, 0.88) 45%,
      rgba(11, 31, 59, 0.72) 70%,
      rgba(11, 31, 59, 0.45) 100%);
}

.hero h1 {
  font-size: 3.2em;
  max-width: 800px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.hero p {
  font-size: 1.2em;
  margin-top: 20px;
}


/* ABOUT US SECTION */
.about {
  padding: 80px 0;
  text-align: center;
  color: #F2F4F7;
  font-size: 1.5rem;
  /*
  background:
    linear-gradient(270deg,
      rgba(11, 31, 59, 0.96) 0%,
      rgba(11, 31, 59, 0.88) 45%,
      rgba(11, 31, 59, 0.72) 70%,
      rgba(11, 31, 59, 0.45) 100%);
      */
}

.about-us-cards {
  margin-left: auto;
  margin-right: auto;
}

.about-us-container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 100px;
  background-color: #0B1F3B;
  border-radius: 20px;
  box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.6);
  width: 80%;
  max-width: 1200px;
}

.about-us-container h2 {
  border-bottom: 3px solid #FF6B00;
}

/* ABOUST US CARDS */
.about-us-card {
  padding: 20px;
  border: 1px solid #eee;
  text-align: center;
  background-color: #F2F4F7;
  border-radius: 10px;
  margin: 8px;
  color: #0B1F3B;
}

.about-us-card:hover {
  background-color: #FF6B00;
}


/* SERVICES SECTION */
/* ==========================================
   WHAT WE DO
========================================== */

.services-section {
  padding: 80px 40px;
  background: #f8f9fb;
}

.what-we-do-section {
  text-align: center;
  max-width: 900px;
  margin: auto;
  margin-bottom: 60px;
}

.what-we-do-section h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #0B1F3B;
  padding-bottom: 4px;
  border-bottom: 3px solid #0B1F3B;
}

.what-we-do-section p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #0B1F3B;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 30px;
}

.service-category {
  background: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, .08);
  transition: .25s;
}

.service-category:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .15);
}

.service-category h3 {
  color: #0B1F3B;
  margin-bottom: 18px;
  border-bottom: 3px solid #0B1F3B;
  padding-bottom: 10px;
}

.service-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-category li {
  padding: 8px 0;
  border-bottom: 1px solid #ececec;
}

.service-category li:last-child {
  border-bottom: none;
}

.service-category li::before {
  content: "✓";
  color: #0B1F3B;
  font-weight: bold;
  margin-right: 10px;
}

/* WHY ALLO MOVING SECTION */

.why {
  background: #0B1F3B;
  padding: 40px 0;
  color: white;
  font-size: 1.5rem;
}

.why h2 {
  font-size: 2.8rem;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  color: #FF6B00;
  padding-bottom: 4px;
  border-bottom: 3px solid #F2F4F7;
}


.why-container {
  margin-top: 90px;
  margin-bottom: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 100px;
  background-color: #FF6B00;
  border-radius: 20px;
  box-shadow: 0 0 15px 15px rgba(255, 107, 0, 0.6);
}

.why p {
  padding: 30px 30px;
  background-color: #0B1F3B;
  color: #F2F4F7;
  border-radius: 15px;
  box-shadow: 0 0 8px 8px rgba(11, 31, 59, 0.6);
}


/* ==========================================
   REGIONS WE SERVE
========================================== */
.regions-header {
  color: #0B1F3B;
  font-size: 2.8rem;
  text-align: center;
  margin-top: 0;
  padding-bottom: 4px;
  border-bottom: 3px solid #F2F4F7;
}

.regions-intro {
  color: #F2F4F7;
  font-size: 1.6rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.regions-section {
  background: #FF6B00;
  padding: 90px 20px;
}

.regions-container {
  /* removed */
  width: 85%;
  margin: auto;
  background: #0B1F3B;
  border-radius: 25px;
  padding: 60px;
  box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.6);
}

.regions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  border: #0B1F3B solid 35px;
  background-color: #0B1F3B;
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.6);
}

.region-card {
  display: flex;
  align-items: center;
  background: #F2F4F7;
  font-size: 0.8rem;
  color: #0B1F3B;
  padding: 12px 16px;
  border-radius: 12px;
  font-weight: 600;
  transition: .25s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
}

.region-card::before {
  content: "✔";
  color: #FF6B00;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 12px;
  flex-shrink: 0;
}

.region-card:hover {
  background: white;
  box-shadow: 0 12px 22px rgba(0, 0, 0, .20);
}


/* CONTACT */
.contact {
  padding: 80px 0;
  text-align: center;
  background-color: #FF6B00;
  color: #F2F4F7;
}

.contact-container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 100px;
  background-color: #0B1F3B;
  border-radius: 20px;
  box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.6);
}

.contact-container a {
  color: white;
}

.services {
  background: #FF6B00;
  padding: 40px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

/* CTA buttons */
.cta {
  display: flex;
  justify-content: center;
  /* Center the buttons */
  align-items: center;
  gap: 25px;
  /* Space between buttons */
  flex-wrap: wrap;
  /* Allows wrapping on small screens */
  margin: 40px auto;
}

.cta-button {
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  font-size: 2.2rem;
  background: #F2F4F7;
  color: #0B1F3B;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 6px 12px 20px rgba(255, 107, 0, .6);
  transition: .25s ease;
}

.style-2-button {
  box-shadow: 6px 12px 20px rgba(11, 26, 41, .6);
}

.style-3-button {
  background: #0B1F3B;
  color: #F2F4F7;
}

.style-4-button {
  background: #0B1F3B;
  color: #F2F4F7;
  box-shadow: 6px 12px 20px rgba(11, 26, 41, .8);
}

.style-4-button:hover,
.style-5-button:hover {
  background: #F2F4F7 !important;
  color: #0B1F3B !important;
}

.style-5-button {
  background-color: #FF6B00;
  color: #F2F4F7;
  width: 60%;
}

.cta-button:hover {
  background: #FF6B00;
  color: white;
  transform: translateY(-4px);
}

.style-2-button:hover {
  background: #0B1F3B;
  color: #FF6B00;
}

.cta-button:active {
  transform: translateY(0);
}

/* ON THE MOVE GALLERY */
/* CTA SECTION */
.cta-section h2 {
  font-size: 2.8em;
}

.on-the-move-section {
  text-align: center;
  padding: 40px 20px;
  background: #0B1F3B;
  color: white;
}

.on-the-move-section h2 {
  font-size: 2.8rem;
  color: #FF6B00;
  padding-bottom: 4px;
  border-bottom: 3px solid #F2F4F7;
}

/* ==========================================
   MONTHLY SPECIALS
========================================== */
.specials-section {
  background: #0B1F3B;
  padding: 100px 20px;
}

.specials-container {
  max-width: 1300px;
  margin: auto;
  text-align: center;
}

.specials-container h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 20px;
  padding-bottom: 4px;
  border-bottom: 3px solid #FF6B00;
}

.specials-intro {
  color: #F2F4F7;
  font-size: 1.2rem;
  margin-bottom: 35px;
}

.specials-call-button {
  display: inline-block;
  padding: 18px 38px;
  background: #FF6B00;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: bold;
  transition: .3s;
  margin-bottom: 60px;
}

.specials-call-button:hover {
  transform: translateY(-3px);
  background: #ff7c22;
}

/* GRID */
.coupon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

/* COUPON */
.coupon {
  position: relative;
  background: white;
  border: 4px dashed #FF6B00;
  border-radius: 20px;
  padding: 35px 25px;
  transition: .25s;
  overflow: hidden;
}

/* Fake coupon cuts */
.coupon::before,
.coupon::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background: #0B1F3B;
  border-radius: 50%;
  top: 50%;
}

.coupon::before {
  left: -16px;
}

.coupon::after {
  right: -16px;
}

.coupon:hover {
  box-shadow: 0 18px 35px rgba(0, 0, 0, .25);
}

.coupon-value {
  color: #FF6B00;
  font-size: 3rem;
  font-weight: 800;
}

.coupon-title {
  color: #0B1F3B;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.coupon-description {
  color: #444;
  line-height: 1.7;
}


/* ==========================================
   FAQ
========================================== */
.faq-section {
  background: #F2F4F7;
  padding: 100px 20px;
}

.faq-section h2 {
  text-align: center;
  font-size: 3rem;
  color: #0B1F3B;
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 3px solid #FF6B00;
}

.faq-subtitle {
  text-align: center;
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 60px;
}

.faq-container {
  max-width: 1000px;
  margin: auto;
}

.faq-item {
  background: white;
  border-radius: 14px;
  margin-bottom: 18px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
  transition: .3s;
}

.faq-question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: none;
  padding: 24px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: #0B1F3B;
  text-align: left;
}

.faq-question:hover {
  background: #fafafa;
}

.faq-icon {
  font-size: 2rem;
  color: #FF6B00;
  transition: .3s;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .35s ease;
}

.faq-answer p {
  padding: 0 30px 30px;
  line-height: 1.8;
  color: #444;
}

.faq-item.active .faq-answer {
  max-height: 300px;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
}


/* ==========================================
   REVIEWS
========================================== */
.reviews-section {
  background: #F2F4F7;
  padding: 100px 20px;
}

.reviews-section h2 {
  text-align: center;
  font-size: 3rem;
  color: #0B1F3B;
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: #0B1F3B 3px solid;
}

.reviews-subtitle {
  text-align: center;
  font-size: 2rem;
  color: #555;
}

.reviews-rating {
  text-align: center;
  color: #FF6B00;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 60px;
}

.reviews-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.reviews-slider {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding: 20px;
}

.reviews-slider::-webkit-scrollbar {
  display: none;
}

.review-card {
  min-width: 350px;
  max-width: 350px;
  background: white;
  border-radius: 20px;
  padding: 35px;
  scroll-snap-align: center;
  box-shadow: 0 12px 35px rgba(0, 0, 0, .10);
  transition: .3s;
}

.stars {
  color: #FF6B00;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.review-text {
  font-style: italic;
  line-height: 1.8;
  color: #444;
  min-height: 140px;
}

.review-card h4 {
  margin-bottom: 5px;
  color: #0B1F3B;
}

.review-card span {
  color: #888;
  font-size: .95rem;
}

/* arrows */
.review-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background: #0B1F3B;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 5;
  transition: .25s;
}

.review-arrow:hover {
  background: #FF6B00;
}

.review-arrow.left {
  left: -10px;
}

.review-arrow.right {
  right: -10px;
}


/* ==========================================
   ABOUT THE OWNER
========================================== */
.owner-section {
  background: #0B1F3B;
  padding: 100px 20px;
}

.owner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  max-width: 1200px;
  margin: auto;
}

.owner-image {
  flex: 1;
  text-align: center;
}

.owner-image img {
  width: 100%;
  max-width: 420px;
  border-radius: 25px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, .35);
  transition: .35s ease;
}

.owner-image img:hover {
  transform: scale(1.02);
}

.owner-content {
  flex: 1.3;
  color: white;
}

.owner-content h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 3px solid #F2F4F7;
}

.owner-content h3 {
  color: #FF6B00;
  font-size: 1.4rem;
  margin-bottom: 35px;
  font-weight: 500;
}

.owner-content p {
  font-size: 1.2rem;
  line-height: 1.9;
  margin-bottom: 25px;
  color: #F2F4F7;
}

.contact {
  width: 100%;
  padding: 40px 0;
  font-size: 1.7rem;
  background: #FF6B00
}

.contact-container {
  width: 80%;
}

.contact h2 {
  color: #FF6B00;
  padding-bottom: 4px;
  border-bottom: 3px solid #F2F4F7;
}

footer {
  text-align: left;
  font-size: 0.9rem;
  padding: 20px;
  background: #0B1F3B;
  color: white;
}

.blue-to-orange-grandient {
  height: 120px;
  z-index: 10;
  background: linear-gradient(to bottom, #0B1F3B, #FF6B00);
}

.orange-to-blue-grandient {
  height: 120px;
  z-index: 10;
  background: linear-gradient(to bottom, #FF6B00, #0B1F3B);
}

.blue-to-white-grandient {
  height: 90px;
  z-index: 10;
  background: linear-gradient(to bottom, #0B1F3B, #F2F4F7);
}

.white-to-blue-grandient {
  height: 90px;
  z-index: 10;
  background: linear-gradient(to bottom, #F2F4F7, #0B1F3B);
}

.blue-to-orange-to-blue-grandient {
  height: 4px;
  z-index: 10;
  background: linear-gradient(to bottom, #0B1F3B, #FF6B00, #0B1F3B);
}

.spacer {
  height: 10dvh;
}